{% extends 'base.html' %}
{% load static %}

{% block extrahead %}
<link rel="stylesheet" type="text/css" href="{% static 'css/account.css' %}">
{% endblock %}

{% block content %}
{% if request.user.is_authenticated %}
<div class="userprofile">
    <h1>{{account.username}} Profile Page</h1>
    {% if error %}
    <h1>{{error}}</h1>
    {% endif %}
    <form action="{% url 'account:editprofile' %}" method="POST">
    {% csrf_token %}
      <div class="row">
        <div class="col">
        <div class="form-group">
          <label for="username">Username</label>
          <input name="username" type="username" class="form-control" id="username" value='{{account.username}}'>
        </div>
        </div>
        <div class="col">
          <div class="form-group">
            <label for="email">Email address</label>
            <input type="email" name="email" class="form-control" id="email" value='{{account.email}}'>
          </div>
        </div>
      </div>
        <div class="row">
          <div class="col">
        <div class="form-group">
            <label for="first_name">First Name</label>
            <input name="first_name" placeholder="First Name" class="form-control" id="first_name" value="{{account_details.first_name}}">
          </div>   
          </div>
          <div class="col">   
        <div class="form-group">
            <label for="last_name">Last Name</label>
            <input name="last_name" placeholder="Last Name" class="form-control" id="last_name" value="{{account_details.last_name}}">
          </div>
        </div>  
      </div>
      <button type="submit" class="btn btn-success">Submit</button>
    </form>
</div>
{% else %}
<div class="userprofile">
  <h1>You must login to view your profile</h1>
</div>
{% endif %}
{% endblock %}