{% extends 'base.html' %}
{% block content %}

<div class="wrapper">
<div id="home-div">
  <h1 class="headers">Welcome To TheVoteOff</h1>
  <hr class="divider"/>
  <div class="row">
    <div class="col-sm home-desc">
      <h2 class="headers" id="subheader">What is VoteOff?</h2>
      <hr class="divider" id="subdiv" />
      <p class="home-description">VoteOff is the exciting new way to vote! You will be able to add a point to one of the choices,
        but also take away a point from another. 
      </p>
    </div>
    <div class="col-sm home-desc">
      <h2 class="headers" id="subheader">Get Started</h2>
      <hr class="divider" id="subdiv" />
      <a class="btn btn-primary" href="{% url 'lists:index' %}">
        View Available Contests</a>
    </div>
  </div>
</div>
</div>
{% endblock %}