{% extends 'base.html' %}
{% block content %}
<br />
<br />
<br />
<br />

<div id="home-div">
  <h1 class="headers">Welcome To VoteOff</h1>
  <hr class="divider" />
  <div class="row">
    <div class="col-sm home-desc">
      <h2 class="headers">What is VoteOff?</h2>
      <hr class="divider" id="subdiv" />
      <p class="home-description">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iusto nesciunt vel fuga quidem debitis hic blanditiis
        impedit laborum eius cum porro et perspiciatis, ratione aliquam autem quisquam quos voluptas vero?</p>
    </div>
    <div class="col-sm home-desc">
      <h2 class="headers">Get Started</h2>
      <hr class="divider" id="subdiv" />
      <a class="btn btn-primary" href="{% url 'lists:index' %}">
        View Available Votes</a>
    </div>
  </div>
</div>

{% endblock %}