{% extends 'base.html' %}
{% load static %}
{% block extrahead %}
<link rel="stylesheet" type="text/css" href="{% static 'css/lists.css' %}">
{% endblock %}
{% block content %}
{% if user.is_authenticated %}
<div class="details-div" style="text-align: center;">
<h1>Adding users for contest: {{ contest.contest_title }}</h1>
{{message}}
<form method='POST'>
    {% csrf_token %}
    <label for="allowed_user">Enter the username of the account you would like to add</label>
    <input class="form-control" name="allowed_user" id="allowed_user">
    <button type="submit">Add User</button>
</form>
<h1>Allowed users:</h1>
<ul>
    {% for user in allowed_users %}
    <li>{{ user.allowed_user }}</li>
    {% endfor %}
</ul>
</div>
{% else %}
<div class="details-div">
    <h1>You must login to add users to a contest</h1>
</div>
{% endif %}
{% endblock %}