{% extends 'base.html' %}
{% load static %}
{% block extrahead %}
<link rel="stylesheet" type="text/css" href="{% static 'css/lists.css' %}">
{% endblock %}

{% block content %}
<h1 class="text-center mb-3">Create List</h1>
{{ error }}
<form method='POST'>
    {% csrf_token %}
    <div class="form-group">
        <label for="question_text">Question</label>
        <input name="question_text" class="form-control" id="question_text">
    </div>
    <div class="form-group">
        <label for="public">Make Public</label>
        <input name="public" type="checkbox" id="public">
      </div>
    <ul id='choice-list'>
        <li>
      <div class="form-group">
        <label for="choice_text">Choice</label>
        <input name="choice_text" class="form-control" id="choice_text">
    </div>
    </li>
    <li id="add-choice-li">
        <input type="button" value="Add Choice" onclick="addchoice();" id="add-choice">
    </li>
</ul>
    

    <div class="form-group">
        <label for="votes">Votes</label>
        <input name="votes" class="form-control" id="votes">
    </div>
    <button type="submit">Create</button>
</form>
</form>
{% endblock %}