{% extends 'base.html' %}
{% load static %}
{% block extrahead %}
<link rel="stylesheet" type="text/css" href="{% static 'css/lists.css' %}">
{% endblock %}
{% block content %}
<h1 class="text-center mb-3">{{ question.question_text }}</h1>

{% if error_message %}
<p class="alert alert-danger">
	<strong>{{ error_message }}</strong>
</p>
{% endif %}

	<form id="list" action="{% url 'lists:vote' question.id %}" method="post">
		{% csrf_token %}
		{% with len=question.choice_set.all.count %}
		<div class="row">
			<div class="col-md-6">
			<div class="col-sm options">
				<h2>choose one of the following to add a point to:</h2>
				<hr/>
				{% for choice in question.choice_set.all %}
				{% if choice.votes == 0 %}
				<div class="form-group">
					<input type="radio" name="inc_choice" class="form-check-input" id="0" value="{{ choice.id }}"
						disabled />
					<label class="disabled-label" for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label>
				</div>
				{% else %}
				<div class="form-group">
					<input onclick="disableButtons(id, '{{ len }}', 'inc')" type="radio" name="inc_choice"
						class="form-check-input" id="inc{{ forloop.counter }}" value="{{ choice.id }}" />
					<label for="{{ forloop.counter }}">{{ choice.choice_text }}</label>
				</div>
				{% endif %}
				{% endfor %}
			</div>
		</div>

			<div class="col-md-6">
			<div class="col-sm options">
				<h2>choose one of the following to remove a point from:</h2>
				<hr/>
				{% for choice in question.choice_set.all %}
				{% if choice.votes == 0 %}
				<div class="form-group">
					<input type="radio" name="dec_choice" class="form-check-input" id="0" value="{{ choice.id }}"
						disabled />
					<label class="disabled-label" for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label>
				</div>
				{% else %}
				<div class="form-group">
					<input onclick="disableButtons(id, '{{ len }}', 'dec')" type="radio" name="dec_choice"
						class="form-check-input" id="dec{{ forloop.counter }}" value="{{ choice.id }}" />
					<label for="{{ forloop.counter }}">{{ choice.choice_text }}</label>
				</div>
				{% endif %}
				{% endfor %}
			</div>
		</div>
		</div>
<div class="button-div">
<button id="rv" class="btn btn-danger" type="reset" onclick="reset_function('{{ len }}')">Reset</button>
<br/>
<br/>
<button id="rv" type="submit" class="btn btn-success">Vote</button>
</div>
{% endwith %}
</form>
<br/>
<a class="btn btn-secondary btn-sm mb-3" href="{% url 'lists:index' %}">Back To Lists</a>
{% endblock %}