{% extends 'base.html' %}
{% load static %}
{% load l10n %}
{% block extrahead %}
<link rel="stylesheet" type="text/css" href="{% static 'css/lists.css' %}">
{% endblock %}
{% block content %}
{% if user.is_authenticated %} 
<div class="details-div">
	<h1 class="text-center mb-3">{{ contest.contest_title }}</h1>
	{% if error_message %}
		<p class="alert alert-danger">
			<strong>{{ error_message }}</strong>
		</p>
	{% endif %}
	<form id="list" action="{% url 'lists:vote' contest.id %}" method="POST">
		{% csrf_token %}
		{% with len=contest.choice_set.all.count %}
		<div class="row justify-content-center">
			<div class="col-auto">
		<table class="table text-center">
			<thead>
			  <tr>
				<th scope="col">ADD</th>
				<th scope="col">CHOICE</th>
				<th scope="col">REMOVE</th>
			  </tr>
			</thead>
			<tbody>
		{% for choice in contest.choice_set.all %}
		<tr>
			{% if choice.votes == 0 %}

				<div class="form-group">
					<td>
					<input type="radio"  name="nice_try" class="form-check-input" id="0"
						disabled />
					</td>
					<td>
					<h1><s>{{choice.choice_text}}</s></h1>
					</td>
					<td>
					<input type="radio" name="nice_try" class="form-check-input" id="0"
						disabled />
					</td>
					
				</div>

			{% else %}

				<div class="form-inline">
					<td>
					<input type="radio" name="inc_choice" onclick="disableButton(id, '{{ len }}', 'inc')"
						class="form-check-input" id="inc{{ forloop.counter }}" value="{{ choice.id }}" />
					</td>
					<td>
					<h1>{{choice.choice_text}}</h1>
					</td>
					<td>
					<input onclick="disableButton(id, '{{ len }}', 'dec')" type="radio" name="dec_choice"
						class="form-check-input" id="dec{{ forloop.counter }}" value="{{ choice.id }}" />
					</td>
				</div>

			{% endif %}
		</tr>
		{% endfor %}
	</tbody>
</table>
</div>
</div>

		<div class="button-div">
		<br/>
		{% if has_started %}
			{% if not has_ended %}
				{% if can_vote %}
					<button id="rv" type="submit" class="btn btn-success">Vote</button>
					<h1>Contest ends on {{contest.end_date | localize}}</h1>
				{% else %}
					<h1>You cannot vote for another {{ gap_minutes }} minutes</h1>
				{% endif %}
			{% else %}
				<h1>Contest ended on {{contest.end_date | localize}}</h1>
			{% endif %}
		{% else %}
			<h1>Contest will start at {{contest.start_date | localize}}</h1>
		{% endif %}
		</div>
		{% endwith %}
	</form>

	<br/>
	<a class="btn btn-secondary btn-sm mb-3" href="{% url 'lists:index' 'ongoing' %}">To Public Contests</a>
	<a class="btn btn-secondary btn-sm mb-3" href="{% url 'lists:mycontests' 'all' %}">To My Contests</a>
</div>
{% else %}
	<div class="details-div">
		<h1>You must login or create an account to view the contest details</h1>
	</div>
{% endif %}
{% endblock %}