{% extends 'base.html' %}
{% load static %}
{% block extrahead %}
<link rel="stylesheet" type="text/css" href="{% static 'css/lists.css' %}">
{% endblock %}
{% block content %}
{% if user.is_authenticated %}
   {{ error }}
   <form action="{% url 'lists:add_friend' %}" method="POST">
        {% csrf_token %}
        <div class="form-group">
            <label for="addfriend">Add Friend</label>
            <input class="form-control" id="addfriend" name="to_user">
          </div>
        <button type="submit">Add Friend</button>
    </form>
{% else %}
<h1>You must log-in to view friends</h1>
{% endif %}
{% endblock %}