{% extends 'base.html' %}
{% load static %}
{% block extrahead %}
<link rel="stylesheet" type="text/css" href="{% static 'css/lists.css' %}">
{% endblock %}
{% block content %}
<div class="padding">
<h1 class="text-center mb-3">Public Lists</h1>
{% if questions %}
    {% for question in questions.object_list %}
        <div class="card mb-3">
            <div class="card-body">
                <p class="lead">{{ question.question_text }}</p>
                <a type="button" href="{% url 'lists:detail' question.id %}" class="btn-primary btn-sm">Vote Now</a>
                <a type="button" href="{% url 'lists:results' question.id %}" class="btn-primary btn-sm">Results</a>
            </div>
        </div>
    {% endfor %}
{% else %}
    <p>No lists available</p>
{% endif %}
<nav>
    <ul class="pagination">
    {% if questions.has_previous %}
        <li class="page-item"><a class="page-link" href="?page={{ questions.previous_page_number }}">Previous</a></li>
    {% endif %}
    {% for pg in questions.paginator.page_range %}
        {% if questions.number == pg %}
            <li class="page-item active"><a class="page-link" href="?page={{ pg }}">{{ pg }}</a></li>
        {% else %}
            <li class="page-item"><a class="page-link" href="?page={{ pg }}">{{ pg }}</a></li>
        {% endif %}
    {% endfor %}
    {% if questions.has_next %}
        <li class="page-item"><a class="page-link" href="?page={{ questions.next_page_number }}">Next</a></li>
    {% endif %}
    </ul>
</nav>
</div>
{% endblock %}