{% extends 'base.html' %}
{% load static %}

{% block extrahead %}
<link rel="stylesheet" type="text/css" href="{% static 'css/lists.css' %}">
{% endblock %}

{% block content %}

{% if user.is_authenticated %}
<h1>You are already logged in!</h1>
{% else %}
<h1>Login</h1>
<h1>{{ error }}</h1>
<form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Login</button>
</form>
<a class="btn btn-secondary btn-sm mb-3" href="{% url 'lists:registeracc' %}">Register</a>
{% endif %}

{% endblock %}