{% extends 'base.html' %}
{% load static %}

{% block extrahead %}
<link rel="stylesheet" type="text/css" href="{% static 'css/lists.css' %}">
{% endblock %}

{% block content %}
<br />
<br />
<br />
<br />
{% if error %}
<div class="alert alert-danger" role="alert">
    {{ error }}
  </div>
{% endif %}
<div class="login">
{% if user.is_authenticated %}
<h1>You are already logged in!</h1>
{% else %}
<h1 class="login-header">Login</h1>
<hr class="divider"/>
<form class="login-form" method="POST">
    {% csrf_token %}
    <div class="form-group">
        <label for="username">Enter your username:</label>
        <input type="username" class="form-control" id="username" name="username">
      </div>
      <div class="form-group">
        <label for="password">Enter your password:</label>
        <input type="password" class="form-control" id="password" name="password">
      </div>
      <div class="loginbutton">
    <button type="submit">Login</button>
</div>
</form>
<hr class="divider"/>
<h4>Don't have an account? Click <a href="{% url 'lists:registeracc' %}">Here</a> to register.</h4>
{% endif %}
</div>
{% endblock %}