{% extends 'base.html' %} {% load static %} {% block extrahead %}
<link rel="stylesheet" type="text/css" href="{% static 'css/lists.css' %}" />
{% endblock %} {% block content %}
<div class="padding">
  <h1 class="text-center mb-3">My Contests</h1>
	<a class="btn btn-secondary btn-sm mb-3" href="{% url 'lists:mycontests' 'all' %}">All</a>
	<a class="btn btn-secondary btn-sm mb-3" href="{% url 'lists:mycontests' 'created' %}">Created</a>
	<a class="btn btn-secondary btn-sm mb-3" href="{% url 'lists:mycontests' 'private' %}">Private</a>
  {% if contests %} 
  {% for contest in contests.object_list %}
  <div class="card mb-3">
    {% if contest.contest_image %}
    <img src="{{contest.contest_image.url}}" />
    {% endif %}
    <div class="card-body">
      <p class="lead">{{ contest.contest_title }}</p>
      <p class="card-body">{{ contest.contest_description }}</p>
      <a
        type="button"
        href="{% url 'lists:detail' contest.id %}"
        class="btn-primary btn-sm"
        >Vote Now</a
      >
      <a
        type="button"
        href="{% url 'lists:results' contest.id %}"
        class="btn-primary btn-sm"
        >Results</a
      >
      {% if not contest.public %}
      <a
        type="button"
        href="{% url 'lists:addusers' contest.id %}"
        class="btn-primary btn-sm"
        >Add Users</a
      >
      {% endif %}
      
      {% if user == contest.creator %}
      <a
      type="button"
      href="{% url 'lists:deleteContest' contest.id %}"
      class="btn-primary btn-sm">Delete</a>
    {% endif %}
    </div>
  </div>
  {% endfor %}
  {% else %}
  <p>No Contests available</p>
  {% endif %}
  <nav>
    <ul class="pagination justify-content-center">
      {% if contests.has_previous %}
      <li class="page-item">
        <a class="page-link" href="?page={{ contests.previous_page_number }}"
          >Previous</a
        >
      </li>
      {% endif %}
      {% for pg in contests.paginator.page_range %} 
      {% if contests.number == pg %}
      <li class="page-item active">
        <a class="page-link" href="?page={{ pg }}">{{ pg }}</a>
      </li>
      {% else %}
      <li class="page-item">
        <a class="page-link" href="?page={{ pg }}">{{ pg }}</a>
      </li>
      {% endif %}
      {% endfor %}
      {% if contests.has_next %}
      <li class="page-item">
        <a class="page-link" href="?page={{ contests.next_page_number }}"
          >Next</a
        >
      </li>
      {% endif %}
    </ul>
  </nav>
</div>
{% endblock %}
