{% extends 'base.html' %}
{% load static %}

{% block extrahead %}
<link rel="stylesheet" type="text/css" href="{% static 'css/lists.css' %}">
{% endblock %}

{% block content %}
<br/>
<br/>
<br/>
<br/>
{% if error %}
<div class="alert alert-danger" role="alert">
      {{error}}
  </div>
{% endif %}
<div class="login">
{% if user.is_authenticated %}
<h1>You are already logged in!</h1>
{% else %}
<h1 class="login-header">Register</h1>
<hr class="divider"/>
<form class="login-form" method="POST">
    {% csrf_token %}
    <div class="form-row">
      <div class="col">
        <label for="username">Username</label>
        <input name="username" type="username" class="form-control" id="username" required>
      </div>
      <div class="col">
        <label for="email">Email</label>
        <input name="email" type="email" class="form-control" id="email" required>
      </div>
    </div>
      <div class="form-row">
        <div class="col">
          <label for="first_name">First Name</label>
          <input id="first_name" type="text" class="form-control" name="first_name" placeholder="First name">
        </div>
        <div class="col">
          <label for="last_name">Last Name</label>
          <input type="text" id="last_name" class="form-control" name="last_name" placeholder="Last name">
        </div>
      </div>
      <div class="form-row">
      <div class="col">
        <label for="password">Password</label>
        <input name="password1" type="password" class="form-control" id="password" required>
      </div>
      <div class="col">
        <label for="password">Confirm Password</label>
        <input name="password2" type="password" class="form-control" id="password" required>
      </div>
    </div>
    <br/>
    <div class="loginbutton">
    <button type="submit">Register</button>
  </div>
</form>
{% endif %}
</div>
{% endblock %}