.general-background {
    background-color: #94ae3f;    
    width: 100vw;
    min-height: 100vh;
    height: auto;
}

.navbar-content {
    padding-left: 2rem;
    padding-right: 2rem;
}

#home-div {
    text-align: center;
    font-family: 'Lato', sans-serif;
    background-color: #343a40;
    min-height: 30rem;
    height: auto;
    padding-bottom: 2rem;
}

.headers {
    padding-top: 1rem;
    color: #ebebeb;
    font-size: 3rem;
} #subheader {
    font-size: 2rem;
}

.divider {
    border-color: #94ae3f;
    width: 90%;
} #subdiv {
    width: 60%;
}

.home-desc {
    padding-right: 3rem;
    padding-left: 3rem;
    color: #ebebeb;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
