<div class="navbar fixed-top navbar-dark bg-dark">
        <div class="navbar-content">
                <a class="navbar-brand" href='/'>VoteOff</a>
                {% if user.is_authenticated %}
                <form action="{% url 'lists:logoutuser' %}" method="POST">
                        {% csrf_token %}
                        <button type="submit">Logout</button>
                </form>
                {% else %}
                <a href="register">register/log-in</a>
                {% endif %}
        </div>
</div>