{% extends 'base.html' %}
{% block content %}
<a class="btn btn-secondary btn-sm mb-3" href="{% url 'lists:index' %}">Back To Lists</a>
<h1 class="text-center mb-3">{{ question.question_text }}</h1>

{% if error_message %}
<p class="alert alert-danger">
	<strong>{{ error_message }}</strong>
</p>
{% endif %}

<div class="container">
	<form id="list" action="{% url 'lists:vote' question.id %}" method="post">
		{% csrf_token %}
		{% with len=question.choice_set.all.count %}
		<div class="row">
			<div class="col-sm">
				<h2>choose one of the following to add a point to:</h2>
				{% for choice in question.choice_set.all %}
				{% if choice.votes == 0 %}
				<div class="form-group">
					<input type="radio" name="inc_choice" class="form-check-input" id="0" value="{{ choice.id }}"
						disabled />
					<label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label>
				</div>
				{% else %}
				<div class="form-group">
					<input onclick="disableButtons(id, '{{ len }}', 'inc')" type="radio" name="inc_choice"
						class="form-check-input" id="inc{{ forloop.counter }}" value="{{ choice.id }}" />
					<label for="{{ forloop.counter }}">{{ choice.choice_text }}</label>
				</div>
				{% endif %}
				{% endfor %}
			</div>
			<div class="col-sm">
				<h2>choose one of the following to remove a point from:</h2>
				{% for choice in question.choice_set.all %}
				{% if choice.votes == 0 %}
				<div class="form-group">
					<input type="radio" name="dec_choice" class="form-check-input" id="0" value="{{ choice.id }}"
						disabled />
					<label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label>
				</div>
				{% else %}
				<div class="form-group">
					<input onclick="disableButtons(id, '{{ len }}', 'dec')" type="radio" name="dec_choice"
						class="form-check-input" id="dec{{ forloop.counter }}" value="{{ choice.id }}" />
					<label for="{{ forloop.counter }}">{{ choice.choice_text }}</label>
				</div>
				{% endif %}
				{% endfor %}
			</div>
		</div>
</div>
<input type='reset' onclick="reset_function('{{ len }}')" value="reset" />
<input type="submit" value="Vote" class="btn btn-success btn-lg btn-block mt-4" />
{% endwith %}
</form>
{% endblock %}